*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}
.app {
  background-image: url('./assets/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 1.4s ease-out;
  display: flex;
  justify-content: center;
}

.app.warm {
  background-image: url('./assets/warm-bg.jpg');
}

main{
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;  
}

.country {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 20%;
  text-shadow: 2px 2px 5px black;
}
.date{
  margin: 10px 0;
  font-size: 20px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px black;
}
span {
  background-color: rgb(255, 53, 53);
  padding: 4px 7px;
  font-size: 25px;
  border-radius: 5px;
}
.temp {
  margin: 20px 0;
  background-color: rgba(255, 255, 255, 0.534);
  padding: 14px 7px;
  text-align: center;
  font-size: 80px;
  color: white;
  text-shadow: 2px 2px 5px black;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 2px 2px 0px 0px rgb(158, 154, 154);
}

.desc {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.search-bar {
  margin-top: 40px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  height: 35px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.616);
  box-shadow: 2px 2px 1.2px 1px rgb(158, 154, 154);
}
.container {
  text-align: center;
  margin-top: 20px;
}
button{
  width: 60%;
  border-radius: 7px;
  padding: 7px;
  outline: none;
  transition: 0.3s;
  border: none;
  font-size: 16px;
  background-color: rgb(105, 105, 238);
  color: white;
}


.list-container {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "maxtemp"
    "mintemp"
    "windspeed"
    "humidity"
    "visibility"
    "timezone"; 
    margin-top: 30px;
    color: white;
    background: linear-gradient(rgba(255, 126, 126, 0.63), rgba(88, 88, 255, 0.432) );
    padding: 20px 0px;
    border-radius: 10px;
}


.maxtemp { grid-area: maxtemp; }

.mintemp { grid-area: mintemp; }

.windspeed { grid-area: windspeed; }

.humidity { grid-area: humidity; }

.visibility { grid-area: visibility; }

.timezone { grid-area: timezone; }

.list-container > div {
  margin: 7px;
  font-size: 18px;
  letter-spacing: 1.5px;
  
}
.error{ 
  background-color: rgba(255, 0, 0, 0.842);
  padding: 16px 10px;
  letter-spacing: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}